[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
djangorestframework = "~=3.11.0"
dj-rest-auth = "==1.1.0"
django-allauth = "~=0.42.0"
django-cors-headers = "==3.4.0"

[dev-packages]

[requires]
python_version = "3.11"
